body {
  width: 100%;
  margin: 0 auto;
}

main[class="container"] {
  padding: 0.5rem;

  .video {
    width: 60%;
    height: 30rem;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
  }

  .card {
    display: block;
    width: 60%;
    margin: 2rem auto;
    border-radius: 10% 5%;
  }

  .footer {
    margin-top: 4rem;
    border-top: 1px solid rgb(63,81,181);
  }
}
