@use 'app-theme';
@use "@material/theme" with (
    $primary: app-theme.$primary,
    $secondary: app-theme.$secondary,
    $on-primary: app-theme.$on-primary,
    $on-secondary: app-theme.$on-secondary
);
@use "@material/typography" with (
    $font-family: unquote(app-theme.$font-family),
    $styles-body1: (
        font-size: app-theme.$font-size
    )
);
@use "@material/card";
@use "@material/drawer/mdc-drawer";
@use "@material/list/mdc-list";
@use "@material/icon-button/styles";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/drawer";
@use "@material/list";
@use 'blog';

@include card.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;

