.gradle
*.jar
!gradle/wrapper/gradle-wrapper.jar
.parcel-cache/
src/main/tools/.parcel-cache/

# User-specific stuff
.idea/**/workspace.xml
.idea/modules/
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.classpath
.idea/jarRepositories.xml
.project
.settings/

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# IntelliJ
out/
bin/
build/
annotations/

# MacOS
.DS_Store

# Tools output
src/main/tools/out
src/main/tools/node_modules
src/main/tools/.cache
