body .content {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

main {
  width: 100%;
}

.content .video {
  height: 30rem;
  width: 60%;
}

.content {
  border-radius: 2px;
  padding: 1vw 2vw;
  margin-bottom: 5rem; 
  overflow-x: none;
}

.footer {
  background-color: none;
  border-top: 1px solid rgb(63,81,181);
}
